.Char {
	cursor: pointer;
	display: inline-block;
	padding: 16px;
	text-align: center;
	margin: 16px;
	border: 1px solid #fff;
	background-color: #303a52;
	font-size: 30px;
	text-transform: uppercase;
	border-radius: 6px;
	-webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
	transition: 0.3s ease-out;
}

.Char:hover {
	background-color: #f4fa9c;
}
